body{ 
margin: 0;
padding: 0;
}

main{
 background-color: blue;
}

a:hover{
  color: white
}
input: focus{
	border: 2px solid red;
}
input: valid{
	background-color: lightgreen;}
input: invalid{
	background-color: pink;}
header{
  padding: 10px;
 background: linear-gradient(to right, blue, white )  
}